<%- include ('./partials/header.ejs')%>
<%- include ('./partials/homenavbar.ejs')%>

<body>
    <br>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo !</h1>
            <p class="lead">Blog de ????.</p>
            <hr class="my-4">
            <p>Descrição vai aqui</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Ver mais</a>
            </p>
          </div>

    <%articles.forEach((article) =>{ %>
        <div class="card">
            <div class="card-header">
                <h2><%=article.title%></h2>
            </div>
            <div class="card-body">
                <a class="btn btn-success" href="/<%= article.slug %>">Visualizar</a>
            </div>

        </div>
        <br>
    <%})%>

    <div class="row">
        <div class="col col-12">
            <a href="/articles/page/2" style="float: right">Prox</a>

        </div>
    </div>
    <br>

    </div>
    
    </div>
</body>

<%- include ('./partials/footer.ejs')%>
